*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 5rem;
}
button{
  padding: 0.5rem 1.5rem;
  background-color: orange;
  border: brown;
  border-radius: 0.5rem;

}